<h1>foods that are bad 4 u, but really good</h1>

<form method="GET" action="">
	<input type="number" name="maxSalt" value="">	
	<input type="submit">	
</form>
<ul>
{{#each food}}
<li>{{name}}, sodium content: {{sodium}}</li>
{{/each}}
</ul>
<form method="POST" action="">
	<input type="text" name="foodName" value="">	
	<input type="number" name="foodSodium" value="">	
	<input type="submit">	
</form>
